<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Enlaces_TelecomEntities" connectionString="metadata=res://*/Telecom.csdl|res://*/Telecom.ssdl|res://*/Telecom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSD-27938\SQLEXPRESS;initial catalog=Enlaces_Telecom;persist security info=True;user id=sa;password=Sqljavier2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Enlaces_TelecomEntities1" connectionString="metadata=res://*/Telecom.csdl|res://*/Telecom.ssdl|res://*/Telecom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSD-27938\SQLEXPRESS;initial catalog=Enlaces_Telecom;persist security info=True;user id=sa;password=Sqljavier2021;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>