<html>
<body>
    <div class="container">
        <div class="col-30">
            <div class="card">
                <div class="card-body">
                    <h2 class="row align-items-center justify-content-center" style="color:dodgerblue; font-size:60px">netpoints</h2>
                    <br /> <br />
                    <h4 style="color:gray; font-size:22px">
                        Sistema para el registro de Enlaces del Banco de Costa Rica
                    </h4>
                    <br />
                    <div class="col-5">
                        <div class="card">
                            <div class="card-body " style=" color:gray; font-size: 25px">
                                <h5> Versión: 1.0 </h5>
                                <h5> Fecha Versión: 17 de diciembre 2021</h5>
                                <h5> Desarrollado por: Jiménez Susana- Zúñiga Dayela</h5>
                                <h5> Lenguaje de Programación: Visual Studio</h5>
                                <h5> Base de Datos: SQL Server</h5>
                                <h5> Correo: PER_0684@bancobcr.com</h5>
                                <h5> Teléfono: 2527-5380</h5>
                                <h5> Dirección: Bª Aranjuez, San José Costa Rica</h5>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div style=" color:gray; font-size: 14px">
                        <h7>
                            El acceso a este dispositivo es solamente para usuarios autorizados, si usted no está autorizado, por favor desconectarse inmediatamente, toda la actividad es registrada.
                            Los accesos no autorizados están en contra de la ley, y pueden estar sujetos a penas criminales o civiles.
                        </h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<h7 class="row align-items-center justify-content-center" style="color:gray; font-size:15px">BCR © Derechos Reservados 2021.</h7>
</html>