
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <title>bcrnetpoints</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatable/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatable/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatable/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatable/css/colReorder.dataTables.min.css" />
    <link href="~/Assets/plugin/bvalidator/bootstrapValidator.css" rel="stylesheet" />
    <link href="~/Assets/css/Site.css" rel="stylesheet" />

    <script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Netpoints</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Enlaces
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/Enlaces/Index">Enlaces</a></li>
                            <li><a class="dropdown-item" href="/Oficinas/Index">Sitios BCR</a></li>
                            <li><a class="dropdown-item" href="/Redes/Index">Redes</a></li>
                            <li><a class="dropdown-item" href="/Proveedores/Index">Proveedores</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reportes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/ReporteProveedor/Index">Reporte por Proveedor</a></li>
                            <li><a class="dropdown-item" href="/ReporteUbicacion/Index">Reporte enlaces por Ubicación</a></li>
                            <li><a class="dropdown-item" href="/ReporteUsuario/Index">Reporte de Usuarios</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/Usuarios/Index">Usuarios</a></li>
                            <li><a class="dropdown-item" href="/Roles/Index">Roles</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Bitacoras
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/BitacoraRegistros/Index">Bitacora de Registros</a></li>
                            <li><a class="dropdown-item" href="/BitacoraCambios/Index">Bitacora de Cambios</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">Acerca De</a>
                    </li>
                </ul>
                <div style="position:absolute; right:5px" class="navbar-text">
                    <span class="badge bg-light text-dark"><a class="text-dark" href="~/Files/Ayuda.pdf">Ayuda</a></span>
                    <span class="badge bg-light text-dark"><a class="text-dark" href="/Home/Salir">Salir</a></span>
                </div>
            </div>
        </div>
    </nav>
    <div style="padding-top:10px;">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatable/js/dataTables.colReorder.min.js"></script>
    <script src="~/Scripts/datatable/js/buttons.html5.min.js" defer></script>
    <script src="~/Scripts/datatable/js/buttons.print.min.js" defer></script>
    <script src="~/Scripts/datatable/js/buttons.colVis.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/Assets/plugin/SwalConfig.js"></script>

    <script src="~/Assets/plugin/bvalidator/bootstrapValidator.js"></script>
    <script src="~/Assets/plugin/bvalidator/es_ES.js"></script>
    <script src="~/Assets/plugin/FormValidateConfig.js"></script>

    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>