@model List<Entity.BitacoraCambiosEntity>
<div class="container-fluid">
    <h1>Bitacora de Cambios</h1>
    <div class="row">
    </div>
    <Br />
    <div class=" row">
        <div class="col-11">
            <table id="GridBitacoraCambios" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Hora y Fecha</th>
                        <th>Tipo de Cambio</th>
                        <th>Detalle de Cambio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.Usuarios.Nombre</td>
                            <td> @item.FechaHora</td>
                            <td> @item.Tipo</td>
                            <td> @item.Detalle</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="root">

</div>

@section scripts {
    <script src="~/Scripts/BitacoraCambios/Index.js"></script>
}
