@model WebApp.Models.ProveedoresEdit

@using Newtonsoft.Json;
@{
    var TypeForm = ViewBag.Form as bool?;
}
<model data-entity="@JsonConvert.SerializeObject(Model.proveedores)" />
<div id="ProveedoresEdit" class="container">
    <div class="row" v-if="true">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Proveedor" : "Nuevo Proveedor")</h4>
                    <form id="FormProveedores">
                        <input type="hidden" name="IdProveedor" v-model="model.IdProveedor" />
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="NombreEmpresa" id="NombreEmpresa" v-model="model.NombreEmpresa" required />
                            <label for="NombreEmpresa"> Nombre Proveedor</label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Contacto" id="Contacto" v-model="model.Contacto" required />
                            <label for="Contacto"> Contacto </label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="number" name="Telefono" id="Telefono" v-model="model.Telefono" maxlength="20" required />
                            <label for="Telefono"> Telefono </label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="email" name="Email" id="Email" v-model="model.Email" required />
                            <label for="Email"> Correo Electronico </label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <textarea class="form-control" type="text" name="Comentario" id="textarea" v-model="model.Comentario" rows="3"> </textarea>
                            <label for="Comentario"> Comentarios </label>
                        </div>
                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                            <button type="button" @@click="Save" class="btn btn-outline-primary">Guardar <i class='bx bx-edit'></i></button>
                            }
                            else
                            {
                        <button type="button" @@click="Save" class="btn btn-outline-primary">Guardar <i class='bx bx-save'></i></button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Proveedores/Edit.js"></script>
}



