@model List<Entity.BitacoraRegistrosEntity>
<div class="container-fluid">
    <h1>Bitacora de Registros</h1>
    <Br />
    <div class=" row">
        <div class="col-11">
            <table id="GridBitacoraRegistros" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Fecha y Hora de Ingreso</th>
                        <th>Fecha y Hora de Salida</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.Usuarios.Nombre </td>
                            <td> @item.FechaHoraIngreso </td>
                            <td> @item.FechaHoraSalida</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="root">

</div>

@section scripts {
    <script src="~/Scripts/BitacoraRegistros/Index.js"></script>
}


