@model Entidades.EProveedores

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ProveedoresEdit" class="container">
    <div class="row" v-if="true">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nuevo Proveedor</h4>
                    <form id="FormProveedores" action="/Proveedores/Agregar" method="POST">
                        <input type="hidden" name="IdProveedor" />
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="NombreEmpresa" id="NombreEmpresa" placeholder="Nombre del Proveedor" required />
                            <label for="NombreEmpresa"> Nombre del Proveedor</label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Contacto" id="Contacto" placeholder="Contacto" required />
                            <label for="Contacto"> Contacto </label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="number" name="Telefono" id="Telefono" maxlength="20" placeholder="Teléfono" required />
                            <label for="Telefono"> Teléfono </label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="email" name="Email" id="Email" placeholder="Correo Electrónico" required />
                            <label for="Email"> Correo Electrónico </label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <textarea class="form-control" type="text" name="Comentario" id="Comentario" rows="3" placeholder="Comentarios"> </textarea>
                            <label for="Comentario"> Comentarios </label>
                        </div>
                        <br />
                        <div class="mb-3">
                            <button type="submit" class="btn btn-outline-primary">Guardar <i class='bx bx-save'></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Proveedores/Agregar.js"></script>
    <script>CreateValidator("#ProveedoresEdit");</script>
}
