@model Netpoints.Models.ERolViewModel

@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="RolesEdit" class="container">
    <div class="row" v-if="true">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Nuevo Rol</h4>
                    <form action="/Roles/Agregar" method="POST" id="Confirmar">
                        <input type="hidden" name="IdRol" />
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Rol" id="Rol" maxlength="20" placeholder="Rol" required />
                            <label for="Rol"> Rol</label>
                            <button type="button" onclick="Verificar()" class="btn btn-outline-primary" id="serificar">Verificar <i class='bx bx-check-square'></i></button>
                        </div>
                        <div id="Datos">
                            <div class="form-floating mb-3 form-group ">
                                <input class="form-control" type="text" name="Descripcion" id="Descripcion" maxlength="200" placeholder="Descripción" required />
                                <label for="Descripcion"> Descripción</label>
                            </div>
                            <div class="form-check form-group form-group">
                                <input class="form-check-input" type="checkbox" id="Estado" name="Estado" />
                                <label class="form-check-label" for="Estado">
                                    Estado
                                </label>
                            </div>
                            <br />
                            <h3>Permisos</h3>
                            <div class="row ">
                                <!--Permisos-->
                                <div class="col-3">
                                    <input type="checkbox" name="radusu" value="true" onchange='Usuarios(this);'>
                                    <label for="radusu">Usuarios</label>
                                    <br />
                                    <div id="Usuarios">
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkusuA" value="true">
                                        <label for="checkusuA">Agregar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkusuE" value="true">
                                        <label for="checkusuE">Editar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkusuD" value="true">
                                        <label for="checkusuD">Desactivar</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" name="radrol" value="true" onchange='Roles(this);'>
                                    <label for="radrol">Roles</label>
                                    <br />
                                    <div id="Roles">
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkrolA" value="true">
                                        <label for="checkrolA">Agregar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkrolE" value="true">
                                        <label for="checkrolE">Editar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkrolD" value="true">
                                        <label for="checkrolD">Desactivar</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" name="radprov" value="true" onchange='Proveedores(this);'>
                                    <label for="radprov">Proveedores</label>
                                    <br />
                                    <div id="Proveedores">
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkprovA" value="true">
                                        <label for="checkprovA">Agregar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkprovE" value="true">
                                        <label for="checkprovE">Editar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkprovD" value="true">
                                        <label for="checkprovD">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <br />
                                <div class="col-3">
                                    <input type="checkbox" name="radred" value="true" onchange='Redes(this);'>
                                    <label for="radred">Redes</label>
                                    <br />
                                    <div id="Redes">
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkredA" value="true">
                                        <label for="checkredA">Agregar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkredE" value="true">
                                        <label for="checkredE">Editar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkredD" value="true">
                                        <label for="checkredD">Eliminar</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" name="radsitios" value="true" onchange='Sitios(this);'>
                                    <label for="radsitios">Oficinas</label>
                                    <br />
                                    <div id="Sitios">
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checksitA" value="true">
                                        <label for="checksitA">Agregar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checksitE" value="true">
                                        <label for="checksitE">Editar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checksitD" value="true">
                                        <label for="checksitD">Eliminar</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <input type="checkbox" name="radenlace" value="true" onchange='Enlaces(this);'>
                                    <label for="radenlace">Enlaces</label>
                                    <br />
                                    <div id="Enlaces">
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkenlA" value="true">
                                        <label for="checkenlA">Agregar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkenlE" value="true">
                                        <label for="checkenlE">Editar</label>
                                        <br />
                                        &nbsp;&nbsp;&nbsp;<input type="checkbox" name="checkenlD" value="true">
                                        <label for="checkenlD">Eliminar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="checkbox" name="repproveedor" value="true">
                                    <label for="repproveedor">Reporte por Proveedor</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" name="repubicacion" value="true">
                                    <label for="repubicacion">Reporte por Ubicación</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" name="repusuarios" value="true">
                                    <label for="repususuarios">Reporte de Usuarios</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" name="bitreg" value="true">
                                    <label for="bitreg">Bitacora de Registros</label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" name="bitcam" value="true">
                                    <label for="bitcam">Bitacora de Cambios</label>
                                </div>
                            </div>
                            <br />
                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-primary">Guardar <i class='bx bx-save'></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Roles/Agregar.js"></script>
    <script>
        CreateValidator("#RolesEdit");
        $("#Datos").hide();
        $("#Usuarios").hide();
        $("#Roles").hide();
        $("#Proveedores").hide();
        $("#Redes").hide();
        $("#Sitios").hide();
        $("#Enlaces").hide();
        function Verificar() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Verificar", "Roles")" + "?" + "id=" + $('#Rol').val(),
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    Loading.fire("Verificando...");
                    if (data == "success") {
                        Loading.close();
                        Toast.fire({
                            icon: 'success',
                            title: 'Rol Valido'
                        });
                        $("#Datos").show();
                        $('#Rol').prop('readonly', true);
                        $('#serificar').prop('disabled', true);
                        return false;
                    }
                    if (data == "Error") {
                        Loading.close();
                        Toast.fire({
                            icon: 'error',
                            title: 'Rol invalido'
                        });
                        return false;
                    }
                },
                error: function (xhr, error, status) {
                    Loading.close();
                    Toast.fire({
                        icon: 'error',
                        title: 'Error'
                    });
                    return false;
                },
            });
        }
        function Usuarios(checkbox)
        {
            if (checkbox.checked == true) {
                $("#Usuarios").show();
            }else
            {
                $("#Usuarios").hide();
            }
        }
        function Roles(checkbox) {
            if (checkbox.checked == true) {
                $("#Roles").show();
            } else {
                $("#Roles").hide();
            }
        }
        function Proveedores(checkbox) {
            if (checkbox.checked == true) {
                $("#Proveedores").show();
            } else {
                $("#Proveedores").hide();
            }
        }
        function Redes(checkbox) {
            if (checkbox.checked == true) {
                $("#Redes").show();
            } else {
                $("#Redes").hide();
            }
        }
        function Sitios(checkbox) {
            if (checkbox.checked == true) {
                $("#Sitios").show();
            } else {
                $("#Sitios").hide();
            }
        }
        function Enlaces(checkbox) {
            if (checkbox.checked == true) {
                $("#Enlaces").show();
            } else {
                $("#Enlaces").hide();
            }
        }
    </script>
}
