@model WebApp.Models.UsuariosEdit

@using Newtonsoft.Json;

@{
    var TypeForm = ViewBag.Form as bool?;
}
<model data-entity="@JsonConvert.SerializeObject(Model.usuarios)" />
<div id="usuariosEdit" class="container">
    <div class="row" v-if="true">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Usuario": "Nuevo Usuario")</h4>
                    <form id="FormUsuarios">
                        <input type="hidden" name="IdUsuario" v-model="model.IdUsuario" />

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Identificacion" id="Identificacion" v-model="model.Identificacion" required />
                            <label for="Identificacion"> Identificación</label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="NombreCliente" id="NombreCliente" v-model="model.NombreCliente" required />
                            <label for="NombreCliente"> Nombre </label>
                        </div>
                        <div class="form-floating mb-3 form-group ">
                            <input class="form-control" type="text" name="Telefono" id="Telefono" v-model="model.Telefono" maxlength="8" required />
                            <label for="Telefono"> Teléfono </label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Email" id="Email" v-model="model.Email" required />
                            <label for="Email"> Email</label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <select class="form-control" id="IdRol" name="IdRol" arial-label="Default select example" v-model="model.IdRol" required>
                                @foreach (var item in Model.ddlRoles)
                                {
                                    <option value="@item.IdRol">@item.Rol</option>
                                }
                            </select>
                            <label for="Roles">Rol</label>
                        </div>
                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Usuario" id="Usuario" v-model="model.Usuario" required />
                            <label for="Usuario"> Usuario </label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="Contraseña" minlength="8" maxlength="15" placeholder="Contraseña" v-model="Model.Contrasena">
                            <label for="Contraseña">Contraseña</label>
                        </div>
                        <br />
                        <div class="form-floating mb-3 form-group">
                            <textarea class="form-control" type="text" name="Comentario" id="textarea" v-model="model.Comentario" rows="3"> </textarea>
                            <label for="Comentario"> Comentarios </label>
                        </div>
                        <br />
                        <div class="form-check form-group form-group">
                            <input class="form-check-input" type="checkbox" id="Estado" name="Estado" v-model="model.Estado" />
                            <label class="form-check-label" for="Estado">
                                Estado
                            </label>
                        </div>
                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                            <button type="button" @@click="Save" class="btn btn-outline-primary">Guardar <i class='bx bx-edit'></i></button>
                            }
                            else
                            {
                        <button type="button" @@click="Save" class="btn btn-outline-primary">Guardar <i class='bx bx-save'></i></button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Usuarios/Edit.js"></script>
}


